.App {
  text-align: center;
  background-image: url('https://t3.ftcdn.net/jpg/04/29/35/62/360_F_429356296_CVQ5LkC6Pl55kUNLqLisVKgTw9vjyif1.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  background-color: rgba(0, 0, 0, 0.5); /* Add a semi-transparent black background */
  padding: 20px;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input {
  margin: 10px;
  padding: 10px;
  border: none;
  border-radius: 5px;
}

button {
  margin-top: 10px; /* Add some space between input fields and button */
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #61dafb;
  color: #282c34;
  cursor: pointer;
}

p {
  cursor: pointer;
  color: #61dafb;
}
